<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="E-Ticaret" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pignose css -->
    <link href="/Content/css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all" />


    <!-- //pignose css -->
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="/Content/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="/Content/js/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="/Content/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='/Content/fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='/Content/fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/Content/js/jquery.easing.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".tık").click(function () {
                $(".göster").show();
            });
        });
    </script>
    @RenderSection("head", false)
</head>
<body>
    <!-- header -->
    <!-- //header -->
    <!-- header-bot -->
    <div class="header-bot">
        <div class="container">
            <div class="col-md-3 header-left">
                <h1><a href="/Home/Index"><img src="/Content/images/logo3.jpg"></a></h1>
            </div>
            <div class="col-md-6 header-middle">
                <form>
                    <div class="search">
                        <input type="search" id="arama" value="Ürün Ara" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ürün Ara';}" required="">
                    </div>
                    <div id="araliste">

                    </div>

                    <div class="sear-sub">
                        <input type="submit" value="">
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-md-3 header-right footer-bottom">
                <ul>
                    <li>
                        <a href="#" class="use1" id="as" data-toggle="modal" data-target="#myModal4"></a>

                    </li>
                    <li><a class="fb" href="/#"></a></li>
                    <li><a class="twi" href="/#"></a></li>
                    <li><a class="insta" href="/#"></a></li>
                    <li><a class="you" href="/#"></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    <!-- banner -->
    <div class="ban-top">
        <div class="container">
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active menu__item menu__item--current"><a class="menu__link" href="/Home/Index">Anasayfa <span class="sr-only">(current)</span></a></li>

                                <li class="dropdown menu__item">
                                    <a href="/Urun/Index" class="dropdown-toggle menu__link">Kategoriler </a>

                                </li>


                                <li class=" menu__item"><a class="menu__link" href="/Home/Hakkimizda">Hakkımızda</a></li>

                                <li class=" menu__item"><a class="menu__link" href="/Home/Iletisim">İletişim</a></li>
                                <li class=" menu__item"><a class="menu__link" href="/Kullanici/UyeOl">UYE OL</a></li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="top_nav_right">
                <div class="cart box_1">
                    <a href="/Urun/SepetDetay">
                        <h3>
                            <div class="total">
                                <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                                <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> ürün)
                            </div>

                        </h3>
                    </a>
                    <p><a href="/Urun/SepetDetay" class="simpleCart_empty">Sepet</a></p>

                </div>
            </div>
            @{
                Html.RenderAction("Sepet", "Urun");
                }
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //banner-top -->
    <!-- banner -->

    <div class="banner-grid">
        <div id="visual">
            <div class="slide-visual">
                <!-- Slide Image Area (1000 x 424) -->
                <ul class="slide-group">
                    <li><img class="img-responsive" src="/Content/images/pc.jpg" /></li>
                    <li><img class="img-responsive" src="/Content/images/tab.jpg" /></li>
                    <li><img class="img-responsive" src="/Content/images/tel.jpg" /></li>
                </ul>

                <!-- Slide Description Image Area (316 x 328) -->

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <script type="text/javascript" src="/Content/js/pignose.layerslider.js"></script>
        <script type="text/javascript">
	//<![CDATA[
		$(window).load(function() {
			$('#visual').pignoseLayerSlider({
                        play    : '.btn-play',
				pause   : '.btn-pause',
				next    : '.btn-next',
				prev    : '.btn-prev'

            });
                });
	//]]>
        </script>

    </div>


    <!-- //banner -->
    <!-- content -->


    @RenderBody()

    @{
        Html.RenderAction("YeniUrunler", "Urun");
    }
    <!-- //content -->
    <!-- content-bottom -->
    <!-- //content-bottom -->
    <!-- product-nav -->
    <!-- //product-nav -->

    <div class="coupons">

        <div class="container">

            <div class="coupons-grids text-center">
                <div class="col-md-3 coupons-gd">
                    <h3>ÜRÜNÜNÜZÜ BASIT BIR ŞEKILDE SATIN ALIN.</h3>
                </div>
                <div class="col-md-3 coupons-gd tık">
                    <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                    <h4>Hesabımla Oturum Aç</h4>
                    <p>
                        Giriş yapmak için tıklayın.
                    </p>
                </div>
                <div class="col-md-3 coupons-gd">
                    <a href="/Urun/Index"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                    <h4>Urunler</h4>
                    <p>
                        Urunler sayfasına gitmek için tıklayın.
                    </p>
                </div>
                <div class="col-md-3 coupons-gd">
                    <a href="#"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></a>
                    <h4>Ödeme</h4>
                    <p>
                        Ödeme yapmak için tıklayın.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-left">
                <h2><a href="/Home/Index"><img src="/Content/images/logo3.jpg" alt=" " /></a></h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac quam ut sem viverra commodo. Maecenas nunc lectus, scelerisque eu ultrices lacinia, ornare in justo. Integer bibendum dolor at diam aliquam euismod. Sed tincidunt fringilla dolor, vel ultricies dolor tristique a. Maecenas viverra erat vel neque pharetra, id condimentum massa consequat.
                </p>
            </div>
            <div class="col-md-9 footer-right">
                <div class="col-sm-6 newsleft">

                </div>

                <div class="clearfix"></div>
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>Etiketler</h4>
                        <ul>
                            <li><a href="/Home/Index.html">Anasayfa</a></li>
                            <li><a href="/Urun/Index">Kategoriler</a></li>
                            <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                            <li><a href="/Home/Iletisim">İletişim</a></li>
                            <li><a href="/Kullanici/UyeOl">Üye Ol</a></li>

                        </ul>
                    </div>

                    <div class="col-md-4 sign-gd-two">
                        <h4>İletişim</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : 1234k Avenue, 4th block, <span>Newyork City.</span></li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="/Content/mailto:info@example.com">info@example.com</a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +1234 567 567</li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p class="copy-right">&copy 2018 E-Commerce. All rights reserved | Design by Cüneyt Genyüz </p>
        </div>
    </div>
    <!-- //footer -->
    <!-- login -->
    <div class="modal fade göster" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <div class="login-grids">
                        <div class="login">
                            @*<div class="login-bottom">
                        <h3>Hesap Oluştur</h3>
                        <form>
                            <div class="sign-up">
                                <h4>Email :</h4>
                                <input type="text" value="E-Mail adresinizi giriniz" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'E-Mail adresinizi giriniz'; }" required="">
                            </div>
                            <div class="sign-up">
                                <h4>Password :</h4>
                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                            </div>
                            <div class="sign-up">
                                <h4>Re-type Password :</h4>
                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                            </div>
                            <div class="sign-up">
                                <input type="submit" value="REGISTER NOW">
                            </div>

                        </form>
                    </div>*@
                            <div class="login-right">
                                <h3>Hesabınızla oturum açın</h3>
                                <form>
                                    <div class="sign-in">
                                        <h4>Email :</h4>
                                        <input type="text" value="E-Mail adresinizi giriniz" onfocus="this.value = '';" onblur=" if (this.value= ='' ) { this.value='E-Mail adresinizi giriniz' ; }" required="">
                                    </div>
                                    <div class="sign-in">
                                        <h4>Şifre :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                        <a href="/Content/#">Şifrenizi mi Unuttunuz?</a>
                                    </div>
                                    <div class="single-bottom">
                                        <input type="checkbox" id="brand" value="">
                                        <label for="brand"><span></span>Beni Hatırla.</label>
                                    </div>
                                    <div class="sign-in">
                                        <input type="submit" value="Giriş Yap">
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Oturum açarak Şartlarımızı,Koşullarımızı ve Gizlilik Politikamızı kabul etmiş olursunuz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  
    <!-- //login -->
    @RenderSection("scripts", false)
</body>
</html>
